<div class="ce-currency-converter__converter">
    <div class="ce-currency-converter__wrapper">
        <div class="ce-currency-converter__pair">
            <mat-form-field>
                <mat-label>Количество</mat-label>
                <input type="number" matInput [(ngModel)]="firstCurrencyAmount" placeholder="Amount" (input)="select1()">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Валюта</mat-label>
                <mat-select [(ngModel)]="firstSelectedCurrency" (valueChange)="convertCurrency1ToCurrency2($event)">
                    <mat-option *ngFor="let currency of currencies" [value]="currency">
                        {{ currency }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-icon>swap_horizontal_circle</mat-icon>

        <div class="ce-currency-converter__pair">
            <mat-form-field>
                <mat-label>Количество</mat-label>
                <input type="number" matInput [(ngModel)]="secondCurrencyAmount" placeholder="Amount" (input)="select2()">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Валюта</mat-label>
                <mat-select [(ngModel)]="secondSelectedCurrency" (valueChange)="convertCurrency2ToCurrency1($event)">
                    <mat-option *ngFor="let currency of currencies" [value]="currency">
                        {{ currency }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
